<!DOCTYPE html>
<html>
  <head>
    <title>udacity lesson 3</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/AdminLTE.css' />
    <link rel="stylesheet" href="/stylesheets/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
  	<div class="wrapper">
    {{> header}}
	{{{body}}}
	{{> footer}}
	</div>
    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/knockout/dist/knockout.js'></script>
    <script src='/bower_components/popper.js/dist/umd/popper.min.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src="/javascripts/adminlte.min.js"></script>
    <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.4&key=646f2e48f30d995010f624a6e3dcfed6"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
